{% extends "base.html" %}
{% load bootstrap %}

{% block title %}商品詳細{% endblock %}
{% block content %}
<h1>商品詳細</h1>

<table class="table table-bordered">
    <tr>
        <th>商品名</th>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>価格</th>
        <td>{{ object.price }} 円</td>
    </tr>
    <tr>
        <th>カテゴリ</th>
        <td>{{ object.category }}</td>
    </tr>
    <tr>
        <th>画像</th>
        <td><img src="{{ object.img.url }}" style="width:100px height:auto;"></td>
    </tr>
    <tr>
        <th>商品詳細の説明</th>
        <td>{{ object.description|linebreaksbr }}</td>
    </tr>
</table>

<a href="{% url 'list' %}">戻る</a>
{% endblock %}